@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}

.header.sticky {
  background: var(--second-bg-color);
}
.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}
.navbar {
  position: relative;
}

.navbar {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}
.navbar a {
  color: var(--text-color);
  padding: 2rem;
}

.navbar a:hover,
.navbar a:active {
  color: var(--main-color);
}

#menu-icon {
  position: relative;

  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url(pngegg.png) no-repeat;
  background-position: 100rem;
  background-size: 30%;
}

.home-content {
  max-width: 60rem;
}
.home-content h1 {
  position: relative;
  display: inline-block;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.text-animate {
  position: relative;
  width: 32.8rem;
}
.home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -33rem 0;
  animation: homeBg 6s linear infinite;
  transition-delay: 2s;
}

.home-content .text-animate h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--main-color);
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  transition-delay: 2s;
}

.home-content p {
  position: relative;
  font-size: 2.6rem;
  font-weight: 600;
  margin: 2rem 0 4rem;
}

.btn-box {
  position: relative;

  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-weight: 600;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn:hover::before {
  width: 100%;
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);
  transition: 0.5s;
  z-index: -1;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;

  transition: 3s;
}

.home-imgHover:hover {
  background: var(--bg-color);
  opacity: 0.8;
}

.skill h1 {
  text-align: center;
  font-size: 3.3rem;
  color: var(--main-color);
  box-shadow: 0 0.1rem 2rem var(--main-color), 0 0.1rem 2rem var(--main-color);
}

.skill h3 {
  margin: 0.5rem;
  font-size: 1.8rem;
}

.skill {
  width: 50%;
  margin: 16rem auto;
  color: var(--text-color);
  padding: 2rem;
  box-shadow: 0 2rem 6rem var(--main-color), 0 2rem 2rem var(--main-color);
  list-style: none;
}

.skill li {
  margin: 2rem 0;
  padding: 3rem;
}

.bar {
  background: var(--second-bg-color);
  display: block;
  height: 3rem;
  border: 0.1rem solid var(--bg-color);
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.1rem var(--main-color),
    0 0.1rem 0.1rem var(--main-color);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar:hover {
  box-shadow: 0 0.1rem 2rem var(--main-color), 0 0.1rem 2rem var(--main-color);
}

.bar span {
  height: 4rem;
  float: left;
  background: linear-gradient(135deg, #00abf0 0%, #00abf0 100%);
}

.skill .num {
  font-size: 2rem;
  position: relative;
  top: 0;
  right: 0;
  left: 87%;
}

.skill .num1 {
  font-size: 2rem;
  position: relative;
  top: 0;
  right: 0;
  left: 90%;
}
.skill .num2 {
  font-size: 2rem;
  position: relative;
  top: 0;
  right: 0;
  left: 80%;
}
.skill .num3 {
  font-size: 2rem;
  position: relative;
  top: 0;
  left: 77%;
}
.html {
  width: 90%;
  animation: html 6s;
}

.css {
  width: 75%;
  animation: css 6s;
}

.javascript {
  width: 65%;
  animation: javascript 6s;
}

.videoediting {
  width: 80%;
  animation: videoediting 6s;
}

@keyframes html {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}

@keyframes videoediting {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

#portfolio {
  text-align: center;
}
.sub-title {
  position: relative;
  font-size: 3.2rem;
  color: var(--main-color);
  box-shadow: 0 0.1rem 2rem var(--main-color), 0 0.1rem 2rem var(--main-color);
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  margin: 5rem;
  height: 70rem;
}

.work {
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
}

.work-img {
  width: 100%;
  border-radius: 1rem;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(#112e4279, #00acf0);
  border-radius: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
  text-align: center;
  font-size: 1.5rem;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.layer a {
  margin-top: 2rem;
  color: var(--main-color);
  text-decoration: none;
  line-height: 6rem;
  background: var(--text-color);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

/* contact design */

.contact {
  min-height: auto;
  padding-bottom: 7rem;
  margin-top: 20rem;
}

.btn-box .btns .btn {
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 3rem;
  color: var(--main-color);
  box-shadow: 0 0.1rem 2rem var(--main-color), 0 0.1rem 2rem var(--main-color);
}

.contact form {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input-box .input-field {
  position: relative;
  width: 50%;
  margin: 0.8rem 0;
  padding: 0.5rem;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.3rem solid var(--main-color);
}
.btn-box.btns {
  display: inline-block;
  width: 15rem;
  margin-top: 2rem;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
}

.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
}

.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:valid ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus {
  width: 100%;
}

.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

.contact form .btn-box .btns .btn {
  cursor: pointer;
}
section #msg {
  color: green;
  position: relative;
  left: 42%;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}
.footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}
.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--main-color);
  transition: 0.5s;
}

.footer-iconTop a:hover i {
  color: var(--second-bg-color);
}

/* Animation Reload */

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 98;
}

.animate.home-img {
  width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
  animation: showRight 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 0 4%;
  }

  .home {
    padding: 0 4%;
  }

  .footer {
    padding: 2rem 4%;
  }
  .skill {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .header {
    background: var(--bg-color);
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -110%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.25s ease;
    transition-delay: 0.25s;
  }

  .navbar.active {
    left: 0;
    transition-delay: 0s;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-nav {
    left: 0;
    transition-delay: 0.25s;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active a {
    transform: translateX(0);
    transition-delay: 0.25s;
  }
  .skill {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }

  .home-content h1 {
    display: flex;
    flex-direction: column;
  }

  .home-sci {
    width: 160px;
  }

  .home-sci a {
    width: 38px;
    height: 38px;
  }
  .skill {
    width: 100%;
  }
  .skill .num {
    left: 92%;
  }

  .skill .num1 {
    left: 94%;
  }
  .skill .num2 {
    left: 88%;
  }
  .skill .num3 {
    left: 86%;
  }
}

@media (max-width: 520px) {
  .home-content h1 {
    font-size: 5.2rem;
  }

  .skill {
    width: 100%;
    border-width: 100%;
  }

  .contact form .input-box .input-field {
    width: 100%;
  }
  .footer {
    flex-direction: column-reverse;
    width: 100%;
  }
  .footer p {
    margin-top: 2rem;

    text-align: center;
  }
  .skill .num {
    left: 75%;
  }

  .skill .num1 {
    left: 81%;
  }
  .skill .num2 {
    left: 63%;
  }
  .skill .num3 {
    left: 58%;
  }
}
@media (max-width: 427px) {
  .skill .num {
    left: 80%;
  }

  .skill .num1 {
    left: 85%;
  }
  .skill .num2 {
    left: 69%;
  }
  .skill .num3 {
    left: 65%;
  }
}

@media (max-width: 320px) {
  .home {
    justify-content: center;
  }
  .home-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  #skill {
    width: 100%;
    border-width: 100%;
  }
  .footer {
    width: 100%;
  }
  .skill .num {
    left: 74%;
  }

  .skill .num1 {
    left: 80%;
  }
  .skill .num2 {
    left: 58%;
  }
  .skill .num3 {
    left: 52%;
  }
  .home-content a {
    margin-top: -21rem;
  }
  .layer {
    font-size: 1.2rem;
  }

  .work-list {
    height: 110rem;
  }
}

/* Keyframes animation */

@keyframes homeBg {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

@keyframes showRight {
  100% {
    width: 0;
  }
}
